# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
backend/environment/
venv/

# Environment variables
.env
.env.*

# Django
*.log
db.sqlite3
media/
staticfiles/

# React
frontend/node_modules/
frontend/build/
frontend/dist/

# IDE
.vscode/
.idea/